<a href="https://colab.research.google.com/github/SwayamAdhikary/Python/blob/Module-4/FileHandaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assignment
f=open(r'story.txt','r+')
da=input("Enter text to be inputted=")
f.write(da)
print(da)
at=f.read()
print(at)

Enter text to be inputted=Hello
Hello
n very good
weather good or bad no matter

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
f=open(r'/drive/My Drive/Colab Notebooks/story.txt','r+')
r=f.read()
print(r)

Niceon very good
weather good or bad no matter

  John Cena\t18
0      Kala\t20
1      Mota\t16
2    Uncle\t350
3     Pappu\t25

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
import pandas as pd
f=pd.read_csv(r'/drive/My Drive/Colab Notebooks/employees.csv')
avg=f.groupby(['DEPARTMENT_ID'])['SALARY'].mean()
print(avg)

DEPARTMENT_ID
10      4400.000000
20      9500.000000
30      4150.000000
40      6500.000000
50      3721.739130
60      5760.000000
70     10000.000000
90     19333.333333
100     8601.333333
110    10154.000000
Name: SALARY, dtype: float64

In [ ]:
import pandas as pd
f=pd.read_csv(r'/drive/My Drive/Colab Notebooks/employees.csv',encoding='unicode_escape')
fd=f.loc[:20,["FIRST_NAME","SALARY"]]
print(fd)

   FIRST_NAME  SALARY
0      Donald    2600
1     Douglas    2600
2    Jennifer    4400
3     Michael   13000
4         Pat    6000
5       Susan    6500
6     Hermann   10000
7     Shelley   12008
8     William    8300
9      Steven   24000
10      Neena   17000
11        Lex   17000
12  Alexander    9000
13      Bruce    6000
14      David    4800
15      Valli    4800
16      Diana    4200
17      Nancy   12008
18     Daniel    9000
19       John    8200
20     Ismael    7700

In [ ]:
f1=open()